{%load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/student-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="studenthomepage.html">Home</a>
			</li>
			<li>
				<a href="result.html">Result</a>
			</li>
			<li class="selected">
				<a href="selectsemester.html">Course Registration</a>
			</li>
			<li>

				<a href="Notification.html">notifications</a>
			</li>
			<li>
				<a href="updateprofilestudent.html">Update Profile</a>
			</li>
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
	<div class="course-registration">
		<p>Register for your Courses</p>
		<div id="course-list">
			<select id="stcrs1" name="course">
				<option disabled selected> Course I</option>
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
			
			<select id="stcrs2">
				<option disabled selected> Course II</option>
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
			
			<select id="stcrs3">
				<option disabled selected> Course III</option>
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
			
			<select id="stcrs4">
				<option disabled selected> Course IV</option>
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
			
			<select id="stcrs5">
				<option disabled selected> Course V</option>
				
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
			
			<select id="stcrs6">
				<option disabled selected> Course VI</option>
				{% for results in shownames %}
				<option>{{results.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<button id="submit" value="Submit">Submit</button>
        </div>
	</div>
	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>

</html>
