{%load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="facultyhomepage.html">Home</a>
			</li>
			<li>
                <div class="dropdown">
                    <button class="dropbtn">GRADES</button>
                    <div class="dropdown-content">
                    <a class="diff" href="uploadgrades.html">Upload Grades</a>
                    <a class="diff" href="editgrades.html">Edit Grades</a>
                    </div>
                </div>
			</li>

			<li class="selected">
				<a href="facultycourses.html">Courses</a>
			</li>

			<li>
				<a href="updateprofilefaculty.html">Update Profile</a>
			</li>
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
	<div class="add-courses">
		<h1>Add Courses</h1>
		<form	form method="POST" class="select-course-form" action = "semcoursemapping" id="course-list">
				{% csrf_token %}
                <input id="semno" type="number" name="semno" placeholder="Enter Semester Number">
                <h2 id="select-courses" > Select Courses : </h2> 
                
                <div id="facultycourse-list" >
                    <select id = "course1" name = "course1">
                        <option disabled selected> Course I (required)</option>
                        {% for results in shownames %}
                        <option value = {{results.code}}>{{results.name}} - {{results.code}}</option>
                        {% endfor %}
                    </select>
                    
                    <select id="course2" name= "course2">
                        <option disabled selected> Course II (optional)</option>
                        {% for results in shownames %}
                        <option value = {{results.code}}>{{results.name}} - {{results.code}}</option>
                        {% endfor %}
                    </select>
                </div>
				<button type="submit" class="btn-btn-primary">Submit</button>
		</form>
	</div>

	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>

</html>
