
{%load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomePage</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li class="selected">
				<a href="homepage.html">home</a>
			</li>
			<li class="select">
                <div class="dropdown">
                    <button class="dropbtn">REGISTER NEW USER</button>
                    <div class="dropdown-content">
                      <a class="diff" href="RegisterUsersstudent.html">Register Student</a>
                      <a class="diff" href="RegisterUsersfaculty.html">Register Faculty</a>
                    </div>
                  </div>

			</li>
			<li>
				<a href="Search.html">search</a>
			</li>
			<li>

				<a href="Notification.html">notifications</a>
			</li>
			<li>
				<a href="StudentValidation.html">send validation request</a>
			</li>
			
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
	<div id="body">
			<div>
				<h2>Welcome to our Portal !</h2>
		</div>
		
	</div>
	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>
</html>
