{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Student</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="homepage.html">home</a>
			</li>
			<li class="selected">
                <div class="dropdown">
                    <button class="dropbtn">REGISTER NEW USER</button>
                    <div class="dropdown-content">
                    <a class="diff" href="RegisterUsersstudent.html">Register Student</a>
                    <a class="diff" href="RegisterUsersfaculty.html">Register Faculty</a>
                    </div>
                </div>

			</li>
			<li>
				<a href="Search.html">search</a>
			</li>
			<li>
				<a href="Notification.html">notifications</a>
			</li>
			<li>
				<a href="StudentValidation.html">send validation request</a>
			</li>
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
	<div id="first">
		<h1>Add a Student</h1>
		<form	form method="POST">
				{% csrf_token %}
				{{ form.as_p}}
				<button type="submit" class="btn-btn-primary">Submit</button>
		</form>
	</div>
	<div id="second">
		<h1>Add a list of Students</h1>
		<br><br><br><br>
		<form method = "POST" enctype = "multipart/form-data" action="reguser4">
			{%csrf_token%}
			<input name = "csvfile" type = "file">
			<input type = "submit" value = "Upload">
		</form>
	</div>

	<div id="body">
	</div>
	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>
</html>
