<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li class="selected">
				<a href="regUser.html">register new user</a>
			</li>
			<li>
				<a href="search.html">search</a>
			</li>
			<li>
				<a href="notifications.html">notifications</a>
			</li>
			<li>
				<a href="sendReq.html">send validation request</a>
			</li>
			
		</ul>
	</div>
	<div id="body">
			<div>
				<h2>Welcome to our Portal !</h2>
		</div>
		
	</div>
	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>
</html>
