{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Faculty Course Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="facultyhomepage.html">Home</a>
			</li>
			<li>
				<a href="selectcourse.html">Upload Grades</a>
			</li>
			
			<li class="selected">
				<a href="selectsem2.html">Courses</a>
			</li>
			
			<li>
				<a href="updateprofilefaculty.html">Update Profile</a>
			</li>
			
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
	<div class="course-registration">
		<p>Faculty Course Registration</p>
		<div id="semester-dropdown">
			<form method  = "POST" enctype = "multipart/form-data" action = "selectsem2">
				{%csrf_token%}
			<input id = "year_faculty" name = "year" type = "number" required = "required" placeholder=" Enter Year"><br>
			<input list="semester-list" id="select_sem" name = "sem" type="text" placeholder="Select Semester" required="required"/>
			<br>
			<button id="submit" value="Submit">Submit</button>
		</form>

			<datalist id="semester-list">
				<option value="Semester I"></option>
				<option value="Semester II"></option>
				<option value="Semester III"></option>
				<option value="Semester IV"></option>
				<option value="Semester V"></option>
				<option value="Semester VI"></option>
				<option value="Semester VII"></option>
				<option value="Semester VIII"></option>
			</datalist>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>&copy; SRI 2021</p>
		</div>
	</div>
</body>

</html>
