{% load static %}
<!doctype html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload Grades</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="facultyhomepage.html">Home</a>
			</li>
			<li class="select">
                <div class="dropdown">
                    <button class="dropbtn">GRADES</button>
                    <div class="dropdown-content">
                    <a class="diff" href="selectcourse.html">Upload Grades</a>
                    <a class="diff" href="editgrades.html">Edit Grades</a>
                    </div>
                </div>
			</li>
			
			<li>
				<a href="selectsem2.html">Courses</a>
			</li>

			<li>
				<a href="updateprofilefaculty.html">Update Profile</a>
			</li>
		</ul>
		<hr size="1" width="100%" color="grey">   
	</div>
    
    <form	form method="POST" class="form" action = "selectcourse">
        {%csrf_token%}
    <div id="course-list">
		<input list="semester-list" id="sem" name = "sem" type="text" placeholder="Select Semester" required="required"/>
		<br>
		<input id = "year" name = "year" type = "number" required = "required" placeholder="Enter Year">
		<br>
        <select id = "course1" name = "course1">
            <option disabled selected> Select Course </option>
            {% for results in shownames %}
            <option value = {{results.code}}>{{results.name}} - {{results.code}}</option>
            {% endfor %}
        </select>
        <div>
			<button class="btn-btn-primary" onclick= "window.open('getstudentlist.html');">Get Student List</button>
            <button type="submit" class="btn-btn-primary" onclick="window.open('uploadgrades.html')">Submit</button>
        </div>
    </div>
    
    <datalist id="semester-list">
		<option value="Semester I"></option>
		<option value="Semester II"></option>
		<option value="Semester III"></option>
		<option value="Semester IV"></option>
		<option value="Semester V"></option>
		<option value="Semester VI"></option>
		<option value="Semester VII"></option>
		<option value="Semester VIII"></option>

	</datalist>
</body>
</html>
