{% load static %}
<!doctype html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload Grades</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/faculty-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
</head>
<body>
	<div id="header">
		
		<ul id="navigation">
			<li>
				<a href="facultyhomepage.html">Home</a>
			</li>
			<li class="select">
                <div class="dropdown">
                    <button class="dropbtn">GRADES</button>
                    <div class="dropdown-content">
                    <a class="diff" href="selectcourse.html">Upload Grades</a>
                    <a class="diff" href="editgrades.html">Edit Grades</a>
                    </div>
                </div>
			</li>
			
			<li>
				<a href="selectsem2.html">Courses</a>
			</li>

			<li>
				<a href="updateprofilefaculty.html">Update Profile</a>
			</li>
		</ul>
		<hr size="1" width="100%" color="grey">   
		
		<div id="first">
			<h1>Edit/ADD grade of single student</h1>
			<form	form method="POST" class="course-form">
					{% csrf_token %}
					Enter Student ID : <input name = "st_id" id = "st_id" type = "number"><br>
					Enter Grade : <input name = "grde" id="grde" typr = "text">
					<button type="submit" class="btn-btn-primary">Submit</button>
			</form>
		</div>
		<div id="second">
			<h1>Upload Grades of Class</h1>
			<form method = "POST" enctype = "multipart/form-data" action="uploadallgrades">
				{%csrf_token%}
				<input name = "csvfile" type = "file">
				<input type = "submit" value = "Upload">
			</form>
		</div>
</body>
</html>
